@import "../../css/vars.css";

.small-menu {
    display: grid;
    width: 100%;
    gap: 2rem;
    grid-template-columns: auto 10%;
    margin-bottom: 2rem;
}

.quick-controls {
    justify-self: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.criteria-chip-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 65vw;
    justify-content: space-between;
    align-items: center;
}


.menu-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin: 0;
}


.menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    list-style: none;
    text-decoration: underline;
    font-size: var(--text-m);
    font-variation-settings: var(--heading-wght);
    transition-duration: var(--micro-anim-length);
    text-decoration-thickness: 0.1rem;
}

.menu-link:hover {
    font-variation-settings: "wght" 700;
    text-decoration-thickness: 0.2rem;
}

.halfgrid {
    width: 50%;
    box-sizing: border-box;
    height: fit-content;
    padding: 2rem;
    border-right: var(--grid-border);
    border-bottom: var(--grid-border)
}

ul {
    padding: 0;
}

.search-option-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: var(--base-padding);
}


.option-card {
    display: grid;
    grid-template-rows: 90% 10%;
    height: 30vh;
    width: 100%;
}


.option-card>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.menu-container {
    height: 100vh;
}

.menu-container nav {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
}

.filled {
    background-color: var(--accent-color);
    color: var(--background-color)
}