#lightbox {
    display: grid;
    grid-template-columns: calc(75vw - 1.5rem) calc(25vw - 1.5rem);
    grid-template-rows: calc(75vh - 1.5rem) calc(25vh - 1.5rem);
}


.lightbox-image {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.lightbox-image-wide {
    grid-area: 1 / 1 / 1 / 3;
}

.lightbox-image-tall {
    grid-area: 1 / 1 / 3 / 1;
}

.lightbox-info {
    padding-left: 1rem;
    background-color: var(--background-color);
    width: 100%;
    height: fit-content;
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}