@import "../../css/vars.css";

button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: var(--accent-color);
    font-family: var(--base-font);
    font-size: var(--control-text-size);
    font-weight: 600;
    padding: 0.3rem;
}

.primary-button {
    border: 0.25rem solid var(--accent-color);
    height: fit-content;
    width: fit-content;
}

.icon-knob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.icon-knob svg {
    font-size: var(--control-text-size);
    height: var(--control-text-size);
    width: var(--control-text-size);
}

input,
label {
    accent-color: var(--accent-color);
    font-size: var(--control-text-size);

}