@import "../../css/vars.css";

button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: var(--accent-color);
    font-family: var(--base-font);
    font-size: var(--text-m);
    font-variation-settings: "wght" 600;
    padding: 0.3rem;
}

.primary-button {
    border: 0.25rem solid var(--accent-color);
    height: fit-content;
    width: fit-content;
}

.icon-knob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.icon-knob svg {
    font-size: var(--text-m);
    height: var(--text-m);
    width: var(--text-m);
}

input,
label {
    accent-color: var(--accent-color);
    font-size: var(--text-m);
    font-variation-settings: var(--heading-wght);
}

input[type="checkbox"] {
    height: calc(var(--text-m) - 0.5rem);
    width: calc(var(--text-m) - 0.5rem);
}


.slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider-thumb {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 2rem;
    background-color: var(--accent-color);
    color: white;
    font-variation-settings: "wght" 600;
    font-size: calc(var(--text-m) * 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-track-1 {
    height: 0.2rem;
    background-color: grey;
}

.slider-track-0 {
    height: 0.2rem;
    background-color: var(--accent-color);
}

.chip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    font-size: var(--text-xs);
    color: var(--accent-color);
    padding: 0 1.5rem;
    border: 0.1rem solid var(--accent-color);
    border-radius: 2rem;
    transition-duration: 150ms;
}

.chip:hover {
    border: 0.2rem solid var(--accent-color);
}

.chip input[type="checkbox"] {
    display: none;
}

.chip.checked-chip {
    border: 0.25rem solid var(--accent-color);
    border-radius: 0;
}

.transparent {
    opacity: 0;
}