@import "../../css/vars.css";

button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: var(--accent-color);
    font-family: var(--base-font);
    font-size: var(--text-m);
    font-variation-settings: "wght" 600;
    padding: 0.3rem;
}

.primary-button {
    border: 0.25rem solid var(--accent-color);
    height: fit-content;
    width: fit-content;
}

.icon-knob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.icon-knob svg {
    font-size: var(--text-m);
    height: var(--text-m);
    width: var(--text-m);
}


.icon-knob svg {
    opacity: 1;
    transition-duration: var(--micro-anim-len); 
}

.icon-knob:hover svg {  
    /* stroke-width: 4; */
    filter: drop-shadow(0.1rem 0.1rem 0.15rem rgba(89 89 89 / 0.5));
    filter: brightness(var(--hover-brightness))
}


input,
label {
    accent-color: var(--accent-color);
    font-size: var(--text-m);
    font-variation-settings: var(--heading-wght);
}

input[type="checkbox"] {
    height: calc(var(--text-m) - 0.3rem);
    width: calc(var(--text-m) - 0.3rem);
}

input[type="checkbox"]:hover {
    filter: brightness(var(--hover-brightness));
}

input[type="checkbox"]:active {
    transform: scale(0.95);
}


.slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider-thumb {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 2rem;
    background-color: var(--accent-color);
    color: white;
    font-variation-settings: "wght" 600;
    font-size: calc(var(--text-m) * 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-thumb:hover {
    /* background-color: var(--accent-color-brighter); */
    filter: brightness(var(--hover-brightness))
}

.slider-track-1 {
    height: 0.2rem;
    background-color: grey;
}

.slider-track-0 {
    height: 0.2rem;
    background-color: var(--accent-color);
}

.chip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    font-size: var(--text-xs);
    color: var(--accent-color);
    padding: 0 1.5rem;
    border: 0.1rem solid var(--accent-color);
    border-radius: 2rem;
    transition-duration: var(--micro-anim-len);
    cursor: pointer;
}

.chip:hover {
    box-shadow: 0.1rem 0.1rem 0.25rem 0.05rem rgba(89, 89, 89,0.5);
    filter: brightness(var(--hover-brightness));
}

.chip:active, .icon-knob:active, .gallery-item-grid:active, .slider-thumb:active {
    filter: brightness(var(--active-brightness));
    transform: var(--active-transform);
}

.chip input[type="checkbox"] {
    display: none;
}

.chip.checked-chip {
    border: 0.25rem solid var(--accent-color);
    border-radius: 0;
}

.transparent {
    opacity: 0;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    list-style: none;
    text-decoration: underline;
    font-size: var(--text-m);
    color: var(--text-color);
    font-variation-settings: var(--heading-wght);
    transition-duration: var(--micro-anim-length);
    text-decoration-thickness: 0.1rem;    
}

.nav-link:hover {
    filter: brightness(var(--hover-brightness));    
}