@import "../../css/vars.css";

.grid {
    box-sizing: border-box;
    width: 95vw;
    height: 80vh;
}

.main-image {
    box-sizing: border-box;
    border: 0.5rem solid var(--accent-color);
}

.gallery-item-grid {
    display: grid;
    grid-template-columns: 20% 90%;
    grid-template-rows: 90% 20%;
    margin: 0.5rem;
}

.gallery-item-grid .gallery-item-button {
    visibility: hidden;
}

.gallery-item-grid:hover .gallery-item-button {
    visibility: visible;
}

.gallery-item-img {
    display: grid;
    grid-area: 1 / 1 / 3 / 3;
    transition-duration: var(--micro-anim-length);
}

.gallery-ambience {
    display: grid;
    grid-area: 1 / 1 / 3 / 3;
}

.gallery-item-button {
    display: grid;
    background-color: var(--accent-color);
    color: white;
    grid-area: 2 / 1 / 2 / 1;
    cursor: zoom-in;
}

.gallery-item-container {
    width: fit-content;
}