@import "./vars.css";
@import "../Components/Controls/Controls.css";
@import "../Components/Lightbox/Lightbox.css";
@import "../Components/Gallery/Gallery.css";
@import "../Components/Menu/Menu.css";

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  margin: 0;
  font-size: var(--header-text-size);
  color: var(--accent-color);
}

.App {
  padding: var(--base-padding);
  margin: 0;
  font-family: var(--base-font);
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

.hidden {
  display: none
}

.ambient-back {
  z-index: -1;
  filter: blur(40px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 45%;
  height: 105%;
  width: 105%;
}

.overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-background);
  padding: var(--base-padding);
}

h3 {
  font-size: var(--subtitle-text-size);
  color: var(--accent-color)
}

p {
  font-size: var(--paragraph-size);
}