@import "./vars.css";
@import "../Components/Controls/Controls.css";
@import "../Components/Lightbox/Lightbox.css";
@import "../Components/Gallery/Gallery.css";
@import "../Components/Menu/Menu.css";
@import "../Components/Layouts/small-layouts.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-variation-settings: "wght" 700;
  margin: 0;
  font-size: var(--text-xxl);
}

.App {
  padding: 0 var(--base-padding);
  margin: 0;
  font-family: var(--base-font);
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

.hidden {
  opacity: 0;
}

.ambient-back {
  z-index: -1;
  filter: blur(40px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 45%;
  height: 105%;
  width: 105%;
}

.overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vw;
  width: 100vw;
  background-color: var(--overlay-background);
  padding: var(--base-padding);
}

.main-page {
  padding: 2rem
}

h3 {
  font-size: var(--text-m);
  font-variation-settings: var(--heading-wght);
}

h4 {
  font-size: var(--text-s);
  font-variation-settings: var(--heading-wght);
  margin: 0 0 1rem 0;
}

p {
  font-size: var(--paragraph-size);
  margin: 0;
  font-size: var(--text-xs);
  font-variation-settings: var(--base-wght);
}

.overflow-checker {
  height: 85vh;
  /* border: 2px solid red; */
  /* overflow: auto; */
}