:root {
    --background-color: white;
    --overlay-background: rgba(248, 243, 243, 0.9);
    --accent-color: #6B0292;
    --text-color: black;
    --base-padding: 2rem;
    --base-font: "Space Grotesk", sans-serif;

    --text-xxl: 4.209rem;
    --text-xl: 3.157rem;
    --text-l: 2.396rem;
    --text-m: 1.777rem;
    --text-s: 1.333rem;
    --text-xs: 1rem;

    --base-wght: "wght" 400;
    --heading-wght: "wght" 600;
    --text-xxl: 4.209rem;
    --grid-border: 0.1rem solid var(--accent-color);

    --micro-anim-len: 250ms;
}