@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

:root {
    --background-color: white;
    --overlay-background: rgba(248, 243, 243, 0.75);
    --accent-color: #6B0292;
    --base-padding: 1.5rem;
    --base-font: "Space Grotesk", sans-serif;

    --header-text-size: 3.157rem;
    --control-text-size: 1.777rem;
}