img{
  width: 100%;
}

body{
  padding: 1.5rem;
  margin: 0;
}

.grid{
  width: 80vw;
  height: 80vh;
}

.main-image{
  box-shadow: 7px 4px 51px -2px rgba(54,52,52,0.75);
-webkit-box-shadow: 7px 4px 51px -2px rgba(54,52,52,0.75);
-moz-box-shadow: 7px 4px 51px -2px rgba(54,52,52,0.75);
}

.gallery-item-grid{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 90% 10%;
  margin: 0.5rem;
}

.gallery-item-grid .gallery-item-button{
  visibility: hidden;
}

.gallery-item-grid:hover .gallery-item-button{
  visibility: visible;
}

.gallery-item-img{
  display: grid;
  grid-area: 1 / 1 / 3 / 2;
  
}

.gallery-item-button{
  display: grid;
  grid-area: 2 / 1 / 2 / 1;
}

.gallery-item-container{
  width: fit-content;
}

.hidden{
  display:none
}

#lightbox{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: rgba(248, 243, 243, 0.75);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: calc(75vw - 1.5rem) calc(25vw - 1.5rem);
  grid-template-rows: calc(75vh - 1.5rem) calc(25vh - 1.5rem) ;
}

.lightbox-image{
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.lightbox-image-wide{
  grid-area: 1 / 1 / 1 / 3;

}

.lightbox-image-tall{
  grid-area: 1 / 1 / 3 / 1;
}

.lightbox-info{
  padding-left: 1rem;
  background-color: white;
  width: 100%;
  height: fit-content;
  grid-column: 2;
  grid-row: 2;
  align-self: end;
}
#searchoption-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.quick-controls{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.5rem;
}
 ul{
  padding: 0;
 }
